
{{>layout/header}}

<h1>News Service</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts" role="button" class="btn btn-primary">글 목록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
            {{/userName}}
        </div>
    </div>
    <form action="/search" method="GET">
        <div class="btn-group" role="group" aria-label="Basic example">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <button class="btn btn-secondary">검색</button>
        </div>
    </form>
    <br>
    <!-- 기사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>기사번호</th>
            <th>기사제목</th>
            <th>URL</th>
            <th>긍정:1 부정:0</th>
            <th>언론사</th>
            <th>작성일</th>
            <th>카테고리</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#news}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/news/{{id}}">{{title}}</a>></td>
                <td>{{url}}</td>
                <td>{{pnLabel}}</td>
                <td>{{press}}</td>
                <td>{{date}}</td>
                <td>{{category}}</td>
            </tr>
        {{/news}}
        </tbody>
    </table>

    <!-- 회사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>회사번호</th>
            <th>회사명</th>
            <th>회사정보</th>
        </tr>
        </thead>
        <tbody id="tbody">
            {{#companyList}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{info}}</td>
            </tr>
            {{/companyList}}
        </tbody>
    </table>

</div>

{{>layout/footer}}