{{>layout/header}}

<head>
    <style>
        h3{
            position: absolute;
            color: white;
            float: right;
            text-align: right;
            left: 75%;
        }
        input{
            position: relative;
            left: 20%;
            margin-bottom: 20px;
        }
        #search{
            background: #00ffbe;
        }
        #top {
            margin-top: 20px;
        }
        input[id="menuicon"] {display:none;}
        input[id="menuicon"] + label {display: block;margin: 30px;width: 30px;height: 30px;position: relative;cursor: pointer;}
        input[id="menuicon"] + label span {display: block;position:absolute;width: 100%;height: 5px;border-radius: 30px;background: #ffffff;transition: all .35s;}
        input[id="menuicon"] + label span:nth-child(1) {top:0;}
        input[id="menuicon"] + label span:nth-child(2) {top:50%;transform: translateY(-50%);}
        input[id="menuicon"] + label span:nth-child(3) {bottom: 0;}
        input[id="menuicon"]:checked + label {z-index:2;}
        input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform: translateY(-50%) rotate(45deg);}
        input[id="menuicon"]:checked + label span:nth-child(2) {opacity: 0;}
        input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%; transform: translateY(50%) rotate(-45deg);}

        div[class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"] {width: 300px; height: 100%; background: #222222; position: fixed;top:0;left: -300px;z-index: 1;transition: all .35s;}
        input[id="menuicon"]:checked + label + div{left: 0;}

        a[class="home btn btn-secondary"]{top: 100%;}
    </style>
</head>

<div class="row" id="search">
    <input type="checkbox" id="menuicon">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <br><br><br><br><br><br>
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <a href="/" role="button" class="home nav-link active">홈으로 가기</a>
        </a>
    </div>
    <form action="/search" method="GET" class="col-8 mb-lg-0">
        <div class="container d-flex flex-wrap justify-content-center" role="group" aria-label="Basic example">
            <input id="top" name="keyword" class="form-control" type="text" placeholder="검색어를 입력해주세요">
        </div>
    </form>
    <h3 class="col-lg-3" id="top">News Service</h3>
</div>
<div class="col-md-12">
    <!-- 기사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered" style="margin-top:150px">
        <thead class="thead-strong">
        <tr style="background-color: #b5b5b5;">
            <th>기사번호</th>
            <th>기사제목</th>
            <th>뉴스키워드</th>
            <th>긍정:1 부정:0</th>
            <th>언론사</th>
            <th>작성일</th>
            <th>카테고리</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#newsSearchList}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/news/{{id}}">{{title}}</a></td>
                <td>{{newsKeyword}}</td>
                <td>{{pnLabel}}</td>
                <td>{{press}}</td>
                <td>{{date}}</td>
                <td>{{category}}</td>
            </tr>
        {{/newsSearchList}}
        </tbody>
    </table>

    <!-- 회사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr style="background-color: #b5b5b5;">
            <th>회사번호</th>
            <th>회사명</th>
            <th>회사정보</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#companySearchList}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/company/{{name}}">{{name}}</a></td>
                <td>{{info}}</td>
            </tr>
        {{/companySearchList}}
        </tbody>
    </table>
</div>

{{>layout/footer}}