
{{>layout/header}}

<h1>Search List</h1>
<div class="col-md-12">
    <!-- 기사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>기사번호</th>
            <th>기사제목</th>
            <th>URL</th>
            <th>긍정:1 부정:0</th>
            <th>언론사</th>
            <th>작성일</th>
            <th>카테고리</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#newsSearchList}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/news/{{id}}">{{title}}</td>
                <td>{{url}}</td>
                <td>{{pnLabel}}</td>
                <td>{{press}}</td>
                <td>{{date}}</td>
                <td>{{cagegory}}</td>
            </tr>
        {{/newsSearchList}}
        </tbody>
    </table>

    <!-- 회사 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>회사번호</th>
            <th>회사명</th>
            <th>회사정보</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#companySearchList}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{info}}</td>
            </tr>
        {{/companySearchList}}
        </tbody>
    </table>
    <a href="/" role="button" class="btn btn-secondary">홈으로 가기</a>
</div>

{{>layout/footer}}